@{ var post = (Post) Model; }
<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="post-header">
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div>
            <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("MMMM d. yyyy")</abbr>
            <a href="@Model.Url#comments">
                <em class="glyphicon glyphicon-comment"></em>
                @Model.Comments.Count Comments
            </a>
            @Categories()
        </div>
    </header>

    <div itemprop="articleBody">
        @Html.Raw(Model.Content)
        @if (post.Categories.Any(n => n == "NAudio"))
        {
            <div class="pluralsight-advert">
                Want to get up to speed with the the fundamentals principles of digital audio and how
                to got about writing audio applications with NAudio? Be sure to check out my Pluralsight courses,
                <a href="http://pluralsight.com/training/Courses/TableOfContents/digital-audio-fundamentals">Digital Audio Fundamentals</a>
                and <a href="http://pluralsight.com/training/Courses/TableOfContents/audio-programming-naudio">Audio Programming with NAudio</a>.
            </div>
        }
    </div>

    @if (Blog.CurrentPost != null)
    {
        <div class="g-plusone" data-size="medium" data-annotation="none" data-width="300"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="mark_heath">Tweet</a>
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>


        <section id="comments" aria-label="Comments">
            @if (Model.Comments.Count > 0)
            {
                <h2>Comments</h2>
            }

            @foreach (Comment comment in Model.Comments)
            {
                @RenderPage("Comment.cshtml", comment)
            }
        </section>

        if (Model.AreCommentsOpen(Context))
        {
            @RenderPage("~/views/CommentForm.cshtml")
        }

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'soundcode'; // required: replace example with your forum shortname
            var disqus_identifier = '@Blog.CurrentPost.Slug';
            var disqus_title = '@Blog.CurrentPost.Title';
            // var disqus_url = 'http://sound' - TODO: full URL
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    }
</article>



@helper Categories()
{
    if (Model.Categories.Length > 0)
    {
        <ul class="categories">
            <li><em class="glyphicon glyphicon-bookmark"></em> Posted in: </li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}